<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="description"
  content="Through Tesla MR Institute's MR Leadership Program, become an MRI Technician. With average salaries over $75,000, you can upgrade your career by getting clinical experience and world-class online education from industry-expert teachers.">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="keywords" content="tesla, Institute, MRI technology, leadership program">
<meta name="author" content="Harsh Patel">
<!-- Set Favicon -->
<link rel="shortcut icon" href="./imgs/favicon.png" type="image/x-icon">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

<!-- Fontawesome CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<!-- Custom CSS -->
<link rel="stylesheet" href="css/styles.min.css" />