.apply {
  header {
    position: relative;
    height: 50vh;
    background-size: cover;
    color: $white;

    .mask {
      background-color: rgba(0,0,0,.7);
    }

    .header-content {
      position: relative;
      z-index: 1;
      height: 100%;
      @include flex-center;
    }

    h1 {
      text-align: center;
    }
  }

  .content {
    padding: 50px 0;

    // h2 {
    //   margin-bottom: 40px;
    //   font-weight: 600;
    //   font-family: adopeBoldItalic;
    //   text-align: center;
    // }
  }
}