@media (max-width: 991px) {
  .navbar-light .navbar-toggler {
    padding: 2px 5px;
    background-color: $white;
    border-color: $white;

    &:hover,
    &:focus {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  .navbar {
    .navbar-nav {
      background-color: $primary-color;

      .active .nav-link,
      .nav-link:hover {
        color: $white;
      }

      .nav-link {
        margin: 5px 0;
        color: $black;

        &:first-child {
          margin-top: 15px;
        }
      }

      .nav-link.apply-btn {
        margin-bottom: 15px;
        border-color: $black;

        &:hover,
        &:focus {
          border-color: $white;
        }
      }

      .active .nav-link.apply-btn {
        color: $black;
        border-color: $white;
      }
    }
  }

  .homepage {
    header .header-content {
      width: 100%;
    }

    .hompage-content .homepage-video {
      height: 500px;
    }
  }

  h1 {
    font-size: 45px;
  }

  .content-wrapper {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .homepage {
    header {
      height: auto;
      padding: 100px 0 40px;

      .jump-link {
        display: none;
      }

      .title,
      .description,
      .header-btn {
        font-size: 16px;
      }

      .leadership {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .hompage-content {
      .homepage-video {
        height: 370px;
      }

      hr {
        margin-bottom: 40px;
      }

      .curriculum-coupled {
        grid-template-columns: repeat(1, 1fr);
      }

      .img-wrapper {
        margin-bottom: 20px;
      }

      h3 {
        margin-bottom: 15px;
      }

      ol li,
      p,
      .link-wrapper a {
        margin-bottom: 5px;
      }

      .coupled {
        margin-bottom: 20px;
      }
    }
  }

  .prerequisites .content {
    .item-left {
      margin-right: 30px;
    }

    .leg-up {
      margin-bottom: 30px;
      grid-template-columns: repeat(1, 1fr);

      .img-wrapper {
        margin-bottom: 20px;
      }
    }

    .leg-up-content {
      margin-left: 0;

      h2 {
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }

  .courses .content {
    padding: 50px 0 30px;

    .item-content-p {
      margin-bottom: 10px;
    }

    ul figure {
      margin-right: 30px;
    }
  }

  .testimonials .content {
    ul figure {
      margin: 0 20px 0 0;
    }

    .olivia-photo {
      margin: 0px 0 0 20px;
    }
  }

  .apply {
    .content {
      padding: 30px 0;

      .content-wrapper {
        display: block;
        text-align: center;
      }

      form {
        margin-bottom: 30px;
      }

      button {
        margin: 0 auto;
      }
    }
  }

  p,
  ol li,
  .link-wrapper a {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .navbar {
    align-items: baseline;
  }

  .navbar-brand {
    width: 140px;
  }

  .navbar-light .navbar-toggler {
    margin-right: -4px;
    transform: scale(0.8);
  }

  .homepage {
    header {
      .description,
      .header-btn,
      .title {
        font-size: 14px;
      }

      .header-btn {
        padding: 10px 5px;
      }
    }

    .hompage-content {
      .homepage-video {
        height: 290px;
      }

      .link-wrapper a,
      ol li,
      p {
        font-size: 14px;
      }

      h3 {
        margin-bottom: 10px;
      }

      .coupled {
        margin-bottom: 10px;
      }

      .curriculum {
        text-align: center;
      }
    }
  }

  .prerequisites {
    header {
      margin-bottom: 30px;
    }

    .content {
      text-align: center;

      .prerequisites-title {
        margin-bottom: 20px;
      }

      .prerequisites-items li {
        flex-direction: column;
      }

      .item-left {
        margin-right: 0;
      }

      .item-contnet-title {
        margin-bottom: 5px;
      }

      hr {
        margin: 30px 0;
      }

      .leg-up-content {
        h2 {
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 5px;
        }
      }
    }
  }

  .courses .content {
    padding: 30px 0;
    text-align: center;

    h2 {
      margin-bottom: 20px;
    }

    ul {
      li {
        flex-direction: column;
      }

      figure {
        margin-right: 0;
      }
    }

    .item-content-title,
    .item-content-p {
      margin-bottom: 5px;
    }
  }

  .testimonials .content {
    padding: 30px 0;
    text-align: center;

    h2 {
      margin-bottom: 30px;
    }

    ul {
      li {
        flex-direction: column;
      }

      figure,
      .olivia-photo {
        margin: 0 0 10px 0;
      }
    }

    .item-content-title {
      margin-bottom: 5px;
    }

    .item-content-p {
      margin-left: 0;
    }

    hr {
      margin: 30px 0;
    }
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

@media (min-width: 490px) and (max-width: 575px) {
  .homepage header .homepage-video {
    height: 300px;
  }
}

@media (min-width: 400px) and (max-width: 490px) {
  .homepage header .homepage-video {
    height: 250px;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .homepage header .homepage-video {
    height: 200px;
  }
}
