// Variables
$primary-color: #36b3a8;
$dark-primary: #36b3a8cc;
$banner-mask: rgba(0, 0, 0, 0.3);
$white: #fff;
$black: #272727;
$gray: #1a1a1a26;
$dark-gray: #1a1a1ab3;

// Mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}